//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')

    link(rel='icon', sizes='180x180', href='img/favicon.svg')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    .gl-layout-container

      +header()

      block content
        .gl-layout-content
          p содержимое


      +footer()

    block page-bottom
      script(src='js/bundle.js')
