extends ../pug/layout.pug

block meta
  title Page Title
  meta(name='description', content='')

block content
  div

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
