%set-max-height {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

%modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 400ms opacity;
  background-color: rgba(0, 0, 0, .2);
  pointer-events: none;
  z-index: var(--z-index-modal);

  &.mod-show {
    opacity: 1;
    pointer-events: auto;
  }
}
